name: Build and Deploy to Docker

on:
  push:
    branches: [ main, master ]
  release:
    types: [ published ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: andong00
        password: dckr_pat_gid-GcbkNrEHfbdKnvlbYBepn0w
        
    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: andong00/plexrename:latest
